.button-full-width {
	border: none;
	border-radius: 24px;
	background-color: var(--blue);
	color: var(--white);
	font-size: 14px;
	line-height: 14px;
	padding: 16px 0px;
	font-weight: bold;
	width: 100%;
}

.button-full-width i {
	color: white;
}

.button-full-width:hover {
	background-color: var(--darkBlue);
	cursor: pointer;
}

.button-full-width:disabled {
	pointer-events: none;
	opacity: 0.65;
}
