.button-full-width {
	border: none;
	border-radius: 24px;
	background-color: #3772ff;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	padding: 16px 0px;
	font-weight: bold;
	width: 100%;
}

.button-full-width:hover {
	background-color: #2956bf;
	cursor: pointer;
}

.button-full-width:disabled {
	pointer-events: none;
	opacity: 0.65;
}
