.button {
	border: none;
	border-radius: 24px;
	background-color: var(--blue);
	color: var(--white);
	font-size: 14px;
	line-height: 14px;
	padding: 16px 32px;
	font-weight: bold;
}

.button:hover {
	background-color: var(--darkBlue);
	cursor: pointer;
}
