.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: var(--black);
	opacity: 0.5;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	border-radius: 24px;
	padding: 12px;
	z-index: 1000;
	width: calc(100% - 24px);
}

.modal__message {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

.modal__buttons {
	display: flex;
	justify-content: center;
}

.modal__button {
	border: none;
	border-radius: 24px;
	padding: 16px 36px;
	font-size: 14px;
	font-weight: bold;
	color: var(--white);
	margin: 0px 4px;
}

.modal__button:hover {
	cursor: pointer;
}

.modal__button--yes {
	background-color: var(--yellow);
}
.modal__button--yes:hover {
	background-color: var(--darkYellow);
}

.modal__button--no {
	background-color: var(--orange);
}
.modal__button--no:hover {
	background-color: var(--darkOrange);
}
