.exercise-item {
	background-color: white;
	border-radius: 23px;
	padding: 12px;
}

.exercise-item__exercise-name {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

.excerise-item__input {
	width: 100%;
	border: none;
	border-radius: 50px;
	background-color: #dee2e6;
	padding: 16px 0px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
}
