.workout-list-item {
	background-color: #fff;
	padding: 12px;
	border-radius: 24px;
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}

.workout-list-item__date {
	margin: 0px 0px 8px 0px;
	padding: 0px;
}

.workout-list-item__time {
	margin: 0px;
	padding: 0px;
}
