.workout-exercise-list-item {
	background-color: #fff;
	padding: 12px;
	border-radius: 24px;
	margin-bottom: 12px;
}

.workout-exercise-list-item__header-row,
.workout-exercise-list-item__set-row {
	width: 100%;
	display: flex;
}
.workout-exercise-list-item__set-column {
	flex: 1 0;
}
.workout-exercise-list-item__reps-column {
	flex: 1 0;
	padding: 0px 2px;
}
.workout-exercise-list-item__weight-column {
	flex: 1 0;
	padding: 0px 2px;
}
.workout-exercise-list-item__buttons-column {
	width: 98px;
}

.workout-exercise-list-item__header {
	text-align: center;
	padding: 0;
	margin: 0px 0px 8px 0px;
	font-weight: bold;
}
