:root {
	--gray: #e9ecef;
	--white: #fff;
	--black: #080708;
	--blue: #3772ff;
	--orange: #f35b04;
	--yellow: #fdca40;
	--darkBlue: #2956bf;
	--darkOrange: #8c3502;
	--darkYellow: #d49b02;
}

* {
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}

*,
::after,
::before {
	box-sizing: border-box;
}

h6 {
	font-size: 18px;
	line-height: 1em;
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 14px;
}

body {
	background-color: var(--gray);
	margin: 0px;
}

.content-body {
	padding-top: 74px;
}
