* {
	font-family: 'Open Sans', sans-serif;
}

*,
::after,
::before {
	box-sizing: border-box;
}

h6 {
	font-size: 18px;
	line-height: 1em;
	margin: 0px;
}

body {
	background-color: #e9ecef;
	margin: 0px;
}

.content-body {
	padding-top: 74px;
}
